* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.container {
    max-width: 1296px;
    width: 100%;
    padding: 0 20px;
    margin: 0% auto;
}

.header {
    margin-top: 31px;
    padding-bottom: 25px;
}

.contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.language {
    display: flex;
    gap: 5.6px;
    align-items: center;
}

.languages {
    display: flex;
    gap: 13.5px;
}

.language1 {
    display: flex;
    gap: 4.19px;
}

.languagetext {
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.36px;
    text-align: left;
    align-content: center;
}

.arrowdown {
    align-content: center;
}

.myprofile {
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.36px;
    text-align: left;
    padding-left: 7px;
    align-content: center;
}

.menu {
    max-width: 368px;
    width: 100%;
    display: flex;
    align-items: center;
}

.headermenu {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0 9px 0 14px;
}

.itemtext {
    font-family: 'proxima-nova', sans-serif;
    color: #262626;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.36px;
    text-align: left;
    align-content: center;
}

/* ecom -------------------------------------------------------------------------- */
.product {
    background-color: #F6F7F8;
}

.ecom {
    max-width: 134.32px;
    width: 100%;
    display: flex;
    gap: 6.32px;
    align-items: center;
}

.ecomtext {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    align-content: center;
}

.menubar {
    max-width: 815.49px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.manutext {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #262626;
    align-content: center;
}

.manutext1 {
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #33A0FF;
    align-content: center;
}

/* breadcrumbs ---------------------------------------------------*/
.breadcrumbs {
    margin-top: 34.26px;
}

.text {
    justify-content: center;
    display: flex;
    font-family: 'proxima-nova', sans-serif;

}

.hometext {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.92px;
    text-align: left;
    color: #33A0FF;
}

.slacetext {
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #C1C8CE;
    align-content: center;
    padding: 5px 9px 0 8px;
}

.breadcrumbstext {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.92px;
    text-align: left;
    color: #262626;
}

/* frame ------------------------------------------------------------------------*/
.maincontant {
    margin-top: 40.15px;
}

.frame {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.product-res {
    display: none;
}

.modelname-res {
    font-family: "Poppins", sans-serif;
    color: #223263;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.product1 {
    max-width: 926.18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 49px;
}

.product-info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.sellertext {
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.92px;
    text-align: left;
    color: #C1C8CE;
}



.heroimg {
    display: grid;
    gap: 134px;
    margin-top: 15px;
}

.shoesimg {
    border: 2px solid #E5E8EA;
}

.shoesimg1 {
    border: 2px solid #006CFF;
}

.productpictures {
    display: flex;
    gap: 15px;
    padding-left: 2.35px;
}




/* product-text ---------------------------------------------------*/
.favourite {
    display: none;
}

.product-title {
    max-width: 275px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #223263;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: left;
}

.producttext {
    max-width: 499px;
    width: 100%;
}

.stars {
    display: none;
}

.productrate {
    display: flex;
    gap: 17px;
}

.review {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.49px;
    text-align: left;
    color: #C1C8CE;
}

.submit {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.49px;
    text-align: left;
    color: #33A0FF;

}

.retangleline1 {
    padding: 19px 0 16px;
    max-width: 499px;
    width: 100%;
}

.retangleline {
    padding: 22px 0 20px 0;
    max-width: 499px;
    width: 100%;
}

.modelname {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    text-align: left;
    color: #22262A;
    margin-bottom: 22px;
}

.price1 {
    display: flex;
    gap: 9px;
    align-items: baseline;
}

.prize {
    display: flex;
    gap: 8px;
}

.MRP-price {
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #9098B1;
}

.off {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #FB7181;
}

.pricetext {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #40BFFF;
}

.quality {
    max-width: 234px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 18px;
}

.vailability {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #262626;
    margin-bottom: 15px;
}

.in-stock {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #262626;
    margin-bottom: 15px;
    padding-left: 35px;
}


.colors-res {
    display: none;
}

.selecting {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
}

.color-select {
    display: flex;
    gap: 31px;
}

.colors {
    display: flex;
    gap: 21px;
}

.sizes {
    display: flex;
    margin-top: 21px;
    gap: 98px;
    align-items: center;
}

.choose-size {
    padding: 5px;
    border-radius: 4px;
    max-width: 123px;
    width: 100%;
    padding: 11px 16px;
    border: none;
}

.select-size {
    display: none;

}
.Specification{
    margin: 24px 0;

}
.Specification-head{
    font-family: "Poppins", sans-serif;
    color: #223263;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.5px;
    text-align: left;        
}
.spacifications{
    display: grid;
    gap: 16px;
}
.shown-text{
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    gap: 127px;
}
.shown, .style-text{
    font-family: "Poppins", sans-serif;
    color: #223263;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.5px;
    text-align: left;        
}
.laser-text, .style-text1{
    font-family: "Poppins", sans-serif;
    color: #9098B1;
    max-width: 171px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.5px;
    text-align: right;    
}
.style{
    display: flex;
    justify-content: space-between;
}
.Description-text{
    font-family: "Poppins", sans-serif;
    color: #9098B1;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.5px;
    text-align: left;
    
}





.qty {
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;

}

.count-board {
    padding: 13px 18px 16px 18px;
    display: flex;
}

.qty-no {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #262626;
    padding: 0 30px;
}

.buy-in {
    display: flex;
    gap: 15px;
    padding: 14px 15px 16px 21px;
    align-items: center;
    background-color: #eff8ff;
}

.add-to-cart {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.49px;
    text-align: left;
    color: #33A0FF;
}

.btn {
    display: flex;
    gap: 17px;
}

.heart {
    padding: 17px 16px;
}

.share {
    display: flex;
    margin-top: 45px;
    max-width: 499px;
    width: 100%;
    gap: 10px;
}

.twitter {
    background-color: #03A9F4;
    border-radius: 4px;
    display: flex;
    padding: 13px 29px 17px 44px;
    gap: 12px;
    align-items: center;
}

.facebook {
    background-color: #385C8E;
    border-radius: 4px;
    display: flex;
    padding: 14px 30px 17px 34px;
    gap: 12px;
    align-items: center;
}

.facebook-text,
.twitter-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    text-wrap: nowrap;
}


/* tabs -------------------------------------------------------------------*/
.tabs {
    margin-top: 49px;
    max-width: 924px;
    width: 100%;
    padding-left: 31px;
}

.tab-head {
    display: flex;
    gap: 79px;
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.tab-0 {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.49px;
    text-align: left;
    color: #262626;
}

.tab-text {
    display: grid;
    gap: 15px;
    max-width: 760px;
    width: 100%;
    margin-top: 21px;
}

.text {
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #9098B1;
}

/* bestseller -------------------------------------------------------------*/
.bestsellertext {
    display: grid;
    gap: 34.98px;
}

.sallproduct {
    padding-left: 3px;
}

.rate {
    text-align: center;
    padding-top: 52.59px;
    display: grid;
    gap: 11.96px;
    justify-content: center;
}

.price {
    display: flex;
    gap: 11.42px;
    justify-content: center;
}

.latestprice {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.49px;
    text-align: left;
    color: #FF4858;
    padding-bottom: 55.29px;

}

.MRP-price {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.49px;
    text-align: left;
    color: #C1C8CE;
}


/* related-products ---------------------------------------------------------------------------*/
.related-products {
    margin-top: 77px;
}

.related-head {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 86px;
}

.heading {
    font-family: "Poppins", serif;
    color: #22262A;
    font-size: 35px;
    font-weight: 600;
    line-height: 52.5px;
    text-align: center;
    justify-content: center;
}

.product-frame {
    max-width: 310px;
    width: 100%;
    display: grid;
    gap: 15px;
    margin-bottom: 86px;
}

.product-details {
    display: grid;
    gap: 6px;
}

.pricetext1 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #40BFFF;
    padding-bottom: 18px;

}

.products {
    display: flex;
    gap: 34px;
    justify-content: space-between;
}

/* footer -----------------------------------------------------------------------------*/
.footer {
    padding-top: 150px;
    background-color: #BCDDFE;
}

.ecom01 {
    max-width: 39px;
    width: 100%;
}

.footer-informations {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.lorem-text {
    font-family: 'proxima-nova', sans-serif;
    padding-top: 16px;
    max-width: 221px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.62px;
    text-align: left;
    color: #22262A;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.follow-text,
.contact-text {
    font-family: "Poppins", sans-serif;
    color: #22262A;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
}

.since-text {
    font-family: 'proxima-nova', sans-serif;
    color: #22262A;
    max-width: 198px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.62px;
    text-align: left;
}

.e-comm-text {
    font-family: "Poppins", sans-serif;
    color: #22262A;
    max-width: 148px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.icons {
    padding-top: 4px;
    display: flex;
    gap: 39px;
}

.our-offers {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 68px;
}

.offers-boxes {
    max-width: 152px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.bottom-text {
    font-family: 'proxima-nova', sans-serif;
    color: #C1C8CE;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
}

.Rectangle-row {
    max-width: 1180px;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
}








@media screen and (max-width: 1200px) {
    .bestsaller {
        display: none;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}




@media screen and (max-width: 950px) {

    .share,
    .heart {
        display: none;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



@media screen and (max-width: 550px) {
    .header {
        margin-top: 0;
        padding: 0;
    }

    .menu,
    .languages {
        display: none;
    }

    .heroimg {
        margin: 0;
        gap: 40px;
    }

    .retangleline1,
    .retangleline {
        display: none;
    }

    .product-res {
        display: flex;
        align-items: center;
        margin: 26px 0 28px 0;
    }

    .tab-head,
    .Rectangle-line {
        display: none;
    }

    .favourite {
        align-items: baseline;
        display: flex;
        gap: 44px;
        justify-content: space-between;
        padding-bottom: 8px;
    }

    .productpictures,
    .sizes {
        display: none;
    }

    .prize,
    .productrate {
        display: none;
    }

    .quality,
    .colors {
        display: none;
    }

    .stars {
        display: block;
    }

    .price1 {
        padding: 16px 0 24px 0;
    }


    .color-select {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .colors-res{
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .selecting,
    .size-name {
        font-family: "Poppins", sans-serif;
        color: #223263;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.5px;
        text-align: left;
    }

    .shoes-size {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        overflow: scroll;

    }

    .size-res {
        max-width: 48px;
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.5px;
        text-align: center;
        padding: 14px 19px 13px 20px;
    }

    .select-size {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
    }

    .qty {
        display: none;
    }



    .our-offers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    .products,.related-products,.tabs{
        display: none;
    }


    .footer{
        padding-top: 24px;
    }
}



@media screen and (max-width: 768px) {
    .product {
        display: none;
    }


    .breadcrumbs {
        display: none;
    }


    .modelname {
        display: none;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}